<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title%></title>
    <% include partials/head.html%>
    <style>
        body {
            font-family: 'Spicy Rice', cursive;
        }
    </style>
</head>

<body>
    <% include partials/navigation.html%>

    <div class="container">
        <header class="row">
            <div class="col-lg-12 text-center">
                <img src="/img/love2.png" class="animated bounceIn" alt="Te amo" style="max-width:70%;width:auto;height:auto;">
            </div>
        </header>
            <h2><br/><br/>Hola… Espero este haciendo bien al hacer esto, estos días no he dejado de pensar en ti, en mí, en nosotros. Cuando
                termines de revisar todo esto, quedara en ti si quieres conversar conmigo o no, en caso fuera la segunda opción, lo
                entenderé.<br/><br/><br/><br/>
            </h2>
    </div>


    <% include partials/footer.html%>
</body>

</html>