<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Te extraño</title>
    <% include partials/head.html%>
    <style>
        body {
            font-family: 'Spicy Rice', cursive;
        }
    </style>
</head>

<body>
    <% include partials/navigation.html%>
    <div class="container">
        <header class="row">
            <div class="col-lg-12 text-center">
                <img src="/img/papel.png" class="animated flipInX" alt="Te extraño"
                    style="max-width:55%;width:auto;height:auto;">
            </div>
        </header>
        <h1 style="color:rgb(255,255,255);">Dear Fidela</h1>
        <h5>No quiero excusarme por lo que puedo estar pasando, pero debo admitir que ha sido cobarde de mi parte dejar
            nuestra relación con la idea de que quizá tu estés mejor, y sinceramente pensé que yo también lo estaría
            pero la realidad fue otra, sentí tu ausencia hasta la más profunda parte de mi ser. Y bueno, tuve la
            necesidad de ver nuestro
            chat varias veces, tuve la necesidad de leer como nos tratábamos y mientras más leía, más extrañaba o
            anhelaba que todo sea como antes,
            encontré una imagen que me tuvo reflexionando todo este tiempo...
            <div class="container">
                <header class="row">
                    <div class="col-lg-12 text-center">
                        <img src="/img/frase.jpg" class="animated flipInX" alt="Te extraño" width="220px">
                    </div>
        </h5>
        <h5>Tú me conoces, sabes que soy muy orgulloso, me cuesta muchas veces aceptar mis errores, me cuesta mucho dar marcha atrás,
                esta vez, el que busca a la otra persona, soy yo. No sé si tu hayas pensado en hacerlo, pero tampoco es que yo esté esperando a que lo hagas, simplemente quería 
                hacer algo y no solo enviar un mensaje o llamar (no se si me hubieras contestado), en realidad no se si leerás esto..., espero que sí. Esta semana he estado aprendiendo
                cosas nuevas y una de ellas es esto, no sé si te hayas dado cuenta, pero anteriores veces te he enviado cosas con respecto a lo que he aprendido
                y no quería que esta sea la excepción, siempre te tengo presente♥ en cada cosa que hago. <br/><br/>
                Si hay días malos, ya sabes que querré no hablar, y necesito que seas paciente en ese aspecto... La verdad es que no quiero ponerte condiciones
                pero creo que esa es la única condición que habrá. Al menos hasta que ya sabes, no tenga problemas del todo, porque ya sabes que si los tengo, por eso es que depende de ti si 
                quisieras intentarlo o simplemente dejarlo ahí... Muy aparte de este mensaje, tendríamos que conversar mas al respecto… 
          <cite><div align=right> Te amo </div></cite>
        </h5>
        <h2><cite>Do you want to try it?</cite></h2>
    </div>
    
    <div class="col-lg-12 text-center">
            <br/><a href="http://localhost:3000/video" target="_blank" style="border: 1px solid #2e518b; 
            padding: 10px; 
            background-color: #3B2B42; 
            color: #ffffff; /*color texto*/
            text-decoration: none; 
            text-transform: uppercase; 
            font-family: 'Comic Sans', monospace; 
            border-radius: 50px;">yes</a>
            <a href="https://www.youtube.com/watch?v=IMIXHyMhrTs" target="_blank" style="border: 1px solid #2e518b; 
             padding: 10px; 
            background-color: #3B2B42; 
            color: #ffffff; /*color texto*/
            text-decoration: none; 
            text-transform: uppercase; 
            font-family: 'Comic Sans', monospace; 
            border-radius: 50px;">no</a><br/><br/>
    <% include partials/footer.html%>
</body>

</html>