<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Te amo</title>
    <% include partials/head.html%>
    <style>
            body{
                font-family: 'Spicy Rice', cursive;
            }
    </style>
</head>
<body>
    <% include partials/navigation.html%>
    <div class="container">
            <header class="row">
                    <div class="col-lg-12 text-center">
                        <br/><br/><img src="/img/music.png" class="animated bounceInLeft" alt="Te amo" style="max-width:50%;width:auto;height:auto;"><br/><br/><br/>
                    </div>
                </header>
            <!--SECTION ONE-->
            <div class="container-fluid" id="message">
                <div class="row bg-dark text-white p-5 text-center animated bounceInRight">
                    <div class="col-sm-6">
                        <p>Aquí estoy parado de frente buscando en tus ojos<br/>
                                Saber lo que piensas<br/>
                                Si aún sigo siendo el culpable de aquella sonrisa<br/>
                                De una tarde de esas<br/>
                                De aquellas con sabor a nuevo<br/>
                                De esas que con solo un beso tocabas el cielo<br/>
                                Aquí estoy sentada en la cama y aún miro en el mapa<br/>
                                Para descifrarte<br/>
                                Y busco en tu cuello que el frío se aleje<br/>
                                Y se anide una venus en marte<br/>
                                Y al filo de querer soltarte<br/>
                                Me desarmaste la mirada y quise quedarme<br/><br/>
                                Quédate<br/>
                                Para que sobren las razones y nos falten años<br/>
                                Quédate<br/>
                                Que cuando estamos juntos nada puede hacernos daño<br/>
                                Quédate un ratito más<br/>
                                Luego un poquitito más<br/><br/>
                                Llevamos ya tantos inviernos<br/>
                                Ganando batallas, perdiendo las fuerzas<br/>
                                Buscando barrer en el suelo aquel resentimiento<br/>
                                Que a veces se cuela<br/>
                                Y dejo que un beso nos salve<br/>
                                Que baje la temperatura y vuelva a encontrarte<br/><br/>
                                Quédate<br/>
                                Para que sobren las razones y nos falten años<br/>
                                Quédate<br/>
                                Que cuando estamos juntos nada puede hacernos daño<br/><br/>
                                Quédate y bailamos allá en la cocina<br/>
                                Vamos a tirar al viento la rutina<br/>
                                Llévame al verano en que nos abrazamos<br/>
                                En aquella esquina<br/><br/>
                                Quédate<br/>
                                Para que sobren las razones y nos falten años<br/>
                                Quédate<br/>
                                Que cuando estamos juntos nada puede hacernos daño<br/>
                                Quédate un ratito más<br/>
                                Y luego otro poquito más<br/>
                                Ay, quédate un ratito más<br/>
                                Y luego un poquitito más</p>
                                <i class="fas fa-heart fa-5x"></i>
                    </div>
    
                    <div class="col-sm-6">
                        <h3><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>Quédate...</h3>
                        <iframe style="max-width:100%;width:auto;height:auto;"  src="https://www.youtube.com/embed/n4hKUwbHBc8" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                     
                            
                    </div>
    
                </div>
            </div>
        </div>

        <div class="col-lg-12 text-center">
                <br/><br/><a  href="https://wa.me/51942883857?text=Esta %20bien, %20hazme %20tuya %20bb" target="_blank" style="border: 1px solid #2e518b; 
                padding: 10px; 
                background-color: #3B2B42; 
                color: #ffffff; /*color texto*/
                text-decoration: none; 
                text-transform: uppercase; 
                font-family: 'Comic Sans', monospace; 
                border-radius: 50px;">Click to write me, if you want to try once more</a><br/><br/>
        </div>
    <% include partials/footer.html%>
</body>
</html>